{% extends "base.html" %}
{% load static %}


{% block titulo %}Calidad | Crear{% endblock %}



{% block enlacessecundariosCSS %}
        
{% endblock %}


{% block menu_superior %}

        <!--Aqui se incluye el menu superior-->
        {% include "menusuperior.html" %}
        
{% endblock%}

{% block menu_lateral %}

        <!--Aqui se incluye el menu superior-->
        {% include "menulateral.html" with person=user.username %}
            
{% endblock%}

{% block cuerpo %}

                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Perfil de usuario</h1>
                            <ol class="breadcrumb mb-4">
                            </ol>
                            
                            <div class="card mb-4">
                                <div class="card-body">

                                    <div class="col-12 botones">
                                        <h4>
                                             <b class="font-weight-bold text-dark">Informacion</b>
                                              <i class="fas fa-hashtag"></i>
                                              <!--<b class="font-weight-bold text-danger">{{departamento.id}}</b>-->
                                              <div class="btn-group float-right" role="group" aria-label="Basic mixed styles example">
                                                <button type="button" class="btn btn-danger "><i class="fas fa-print"></i>  Imprimir</button>
                                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i>  Editar</button>
                                              </div>
                                        </h4>
                                  </div>


                                  <div class="row invoice-info">
                                    <div class="col-sm-12 invoice-col">
                                        <address>
                                            
                                                <p>Nombre de Usuario: {{user.username}}</p>
                                                <p>Rol: {{usuario.rol}}</p>
                                                <p>Nacionalidad: {{usuario.nacionalidad}}</p>
                                                <p>Contrato Actual: {{contrato.estado_contrato}}</p>
                                                <p>Fecha de caducidad del contrato : {{contrato.fecha_caducidad}}</p>
                                               
                                        </address>
                      
                            
                                    </div>
                                </div>

                                <!--
                                <div class="row">
                                      <div class="col-md-6">
                                        <br>
                                           <h5><b class="font-weight-bold text-dark">Descripción:</b></h5>
                                           <br>
                                            <h5 class="text-danger text-bold"> {{departamento.nombre}}</h5>
                                      </div>   
                                      
                                      
                                </div>
                                -->

                                </div>
                            </div>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Maipo Grande 2022</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            
            {% endblock%}



            {% block enlacessecundariosJS %}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
                <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
                <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
                <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
                <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
            {% endblock %}